name: windows_ci
on: push
jobs:
  build:
    runs-on: windows-latest
    steps:
      # get latest code and submodules
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      # install the latest cmake and ninja
      - uses: lukka/get-cmake@latest
      # Setup vcpkg
      - name: Restore from cache and run vcpkg
        uses: lukka/run-vcpkg@v7
        with:
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          setupOnly: true 
      - name: 'Configure and build'
        run: |
          cmake --preset windows-release
          cmake --build --preset windows-release-rebuild
